.scroll-down {
  position: absolute;
  width: 64px;
  height: 64px;
  bottom: 2%;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  animation: bounce 2s ease infinite;
}
.scroll-down svg:hover {
  fill: #b19b23;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}
