.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 900px) {
  .container {
    padding: 16px 4rem;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
